html, body {
    font: 14px sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

#map {
    height: 100%;
}

#headline {
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 5px;
    left: 5px;
    width: 135px;
    height: 30px;
    line-height: 30px;
    font-size: 0.8em;
    border: 2px solid #626262;
}

#toggle {
    color: black;
    position: absolute;
    text-align: center;
    background-color: white;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 5px;
    left: 150px;
    width: 135px;
    height: 30px;
    line-height: 30px;
    font-size: 0.8em;
    border: 2px solid #626262;
}

#filter-textbox {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.25s linear;
    position: absolute;
    margin: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 45px;
    left: 5px;
    width: 129px;
    height: 30px;
    font-size: 0.9em;
    border: 2px solid #aeaeae;
    padding: 0 3px;
}

#listview {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.25s linear;
    position: absolute;
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 0.7em;
    top: 80px;
    left: 5px;
    width: 129px;
    height: 180px;
    border: 2px solid #dedede;
    padding: 0 3px;
}

.visible {
    opacity: 0.9 !important;
    visibility: visible !important;
    transition: opacity 0.5s linear !important;
}

.locaion-item {
    background-color: #efefef;
    margin: 3px;
    padding: 8px 2px;
}

.location-name {
    display: block;
    font-weight: bold;
}

.info-title {
    font-size: 0.9em;
    margin: 0;
    min-width: 230px;
}

.info-subtitle {
    font-size: 0.7em;
    color: darkred;
}

.info-route-list {
    background-color: #f1f1f1;

    margin-top: 4px;
    font-size: 0.8em;
}

.info-routes {
    font-weight: bold;
    color: #647fbf;
}

.flickr-box {
    width: 230px;
}

.flickr-headline {
    font-size: 0.7em;
    color: slategray;
    margin: 0;
}

.flickr-thumb {
    margin: 2px 2px 2px 0;
}

.flickr-thumb > img {
    max-width: 27px;
}

.flickr-thumb:last-child {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    #headline {
        top: 20px;
        left: 20px;
        width: 300px;
        height: 50px;
        line-height: 50px;
        font-size: 1.6em;
        border: 4px solid #626262;
    }

    #toggle {
        top: 80px;
        left: 20px;
        width: 300px;
        height: 30px;
        line-height: 30px;
        font-size: 1.2em;
        border: 4px solid #626262;
    }

    #filter-textbox {
        top: 150px;
        left: 20px;
        width: 280px;
        height: 50px;
        font-size: 1.5em;
        border: 4px solid #aeaeae;
        padding: 0 10px;
    }

    #listview {
        top: 215px;
        left: 20px;
        width: 280px;
        height: 300px;
        border: 4px solid #dedede;
        padding: 0 10px;
        font-size: 1em;
    }

    .station-item {
        margin: 10px 0;
        padding: 5px;
    }

    .info-title {
        font-size: 1.1em;
        min-width: 262px;
    }

    .info-subtitle {
        font-size: 0.9em;
    }

    .info-route-list {
        font-size: inherit;
        margin-top: 0.5em;
        padding: 0.2em 0.5em;
    }

    .flickr-box {
        width: 262px;
    }

    .flickr-headline {
        font-size: 0.9em;
    }

    .flickr-thumb {
        margin: 3px 3px 3px 0;
    }

    .flickr-thumb > img {
        max-width: 30px;
    }
}